.card{
    display: block;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    background-image: url('../assets/img/card-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-img{
        box-shadow: (20px 15px 30px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
        overflow: hidden;
        img{
            width: 100%;
        }
    } 
    &-body{
        padding: 3.5rem 3.5rem 3rem;
        @media (max-width: $breakpoint-medium) {
            padding: 1rem 1.5rem 3rem;
          }
    }
}