mixin card()
  a(href="#").card
    .card-img
      img(src="resources/assets/img/kitchen-img.jpg", alt="#")
    .card-body(class="uk-flex uk-flex-column uk-flex-between") 
      div
        h4.uk-text-small.uk-margin-small-bottom Фриттата со шпинатом (250 г)
      div
        span.uk-button.uk-button-primary 100.50 руб.