extends ../main

block variables
  - var title = 'DevBox company';
  - var description = 'Description of DevBox';
  - var pageClass = 'index-page';

block content
   section.article.uk-padding-large.uk-padding-remove-horizontal
        .container
            div.uk-margin-remove-left(class="uk-margin-left@m")
              h1.uk-h1.uk-text-primary.uk-margin-medium-bottom Атмосфера
              div.text-content
                  p Бренд DOLCE хорошо знаком белорусской публике своими кофейными бутиками и кондитерской студией. Патиссерия Дольче – абсолютно новый формат – предлагает своим гостям авторское фьюжн меню по мотивам австралийской кухни, уникальную винную карту и массу других сервисов ресторанного типа.
                  img(src="resources/assets/img/article-img.jpg")
                  p Интерьер и атмосфера
                  p Экстравагантное стилистическое решение, оформленное в нежной цветовой гамме, предоставит своим гостям широкий выбор комфортного времяпрепровождения. Здесь можно отобедать «в ритме большого города» с панорамным видом на проспект, наблюдая за приготовлением заказанных блюд в режиме «онлайн» на открытой кухне. Вечером интерьер трансформируется в романтичный лаунж бар, где теряется чувство времени, а приглушенный мягкий свет дает ощущение тепла и гармонии. Преобладание бирюзовых и песочных оттенков определенно придает курортное настроение. 
                  p Экстравагантное стилистическое решение, оформленное в нежной цветовой гамме, предоставит своим гостям широкий выбор комфортного времяпрепровождения. Здесь можно отобедать «в ритме большого города» с панорамным видом на проспект, наблюдая за приготовлением заказанных блюд в режиме «онлайн» на открытой кухне. Вечером интерьер трансформируется в романтичный лаунж бар, где теряется чувство времени, а приглушенный мягкий свет дает ощущение тепла и гармонии. Преобладание бирюзовых и песочных оттенков определенно придает курортное настроение. 

