extends ../main

block variables
  - var title = 'DevBox company';
  - var description = 'Description of DevBox';
  - var pageClass = 'index-page';

block content
  section#main.main
    .container
      div(data-uk-grid).uk-flex-between.uk-flex-middle.main__content
        div(class="uk-width-2-3@m uk-width-1-1")
          img(src="resources/assets/img/logo-large.png", alt="Dolce" width="")
          h2.uk-h2.uk-text-uppercase.uk-margin-small-top кофейный бутик
        div(class="uk-width-1-3@m uk-width-1-1")
          div 
            span.uk-h1 5
            p.uk-margin-top.uk-text-large.uk-text-uppercase кондитерских студией   
          div
            span.uk-h1 110
            p.uk-margin-top.uk-text-large.uk-text-uppercase посадочных мест  
          div(class="uk-visible@m") 
            span.uk-h1 30
            p.uk-margin-top.uk-text-large.uk-text-uppercase оригинальный блюд шеф повара           
  section#kitchen.uk-padding-large.uk-padding-remove-horizontal
    .container
      div(class="uk-margin-left@m uk-margin-remove-left uk-margin-medium-bottom uk-width-2-3@xl uk-width-1-1")
        h2.uk-h1.uk-text-primary Кухня 
        p Кухня заведения – эксклюзивное эклектичное фьюжн меню, вдохновлённое сочетанием различных региональных кухонь с новыми идеями, соответствующими последним тенденциям гастрономической моды.
      div
        div(data-uk-filter="target: .js-filter")
          div(class="uk-margin-left@m uk-margin-remove-left uk-margin-medium-bottom")
            div.uk-text-primary.filter 
              span.uk-h3.current-filter-value
              span(uk-icon="icon: chevron-down")
            div.filter-values(data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .filter; boundary-align: true")
              ul
                li.uk-active(data-uk-filter-control)
                  a(href="#") Все
                each value, key in {'breakfast': 'Завтраки', 'lunch': 'Обеды', 'dinner': 'Ужины'}
                  li(data-uk-filter-control=`[data-filter='${key}']`)
                    a(href="#")=value   
          div(class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" data-uk-grid)
            each item in [1, 2, 3, 4, 5, 6, 7]
              div(data-filter="breakfast")
                +card
            each item in [1, 2, 3, 4, 5, 6, 7]
              div(data-filter="lunch")
                +card  
            each item in [1, 2, 3, 4, 5, 6, 7]
              div(data-filter="dinner")
                +card    
  section#news.news
    h2.uk-h1.uk-text-primary.uk-margin-medium-bottom(class="uk-hidden@m") Новости
    div.slider.uk-position-relative(tabindex="-1" data-uk-slider)
      ul(class="uk-slider-items uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1")
        each item in [1, 2, 3, 4]
          li
            a(href="#")
              div.slider__img
                img.uk-width-1-1(src=`resources/assets/img/slider-${item}.jpg` alt="#")
              .uk-position-bottom.slider__text
                time(datatime="26.08.2019").uk-h5.uk-text-primary 26.08.2019
                span.uk-text-uppercase.uk-text-bold Мероприятие #{item}
      div.slider__nav.uk-text-right(class="uk-visible@m")
        a(href="#" uk-slider-item="previous")
          img(src="resources/assets/img/arr-left.svg" data-uk-img width="40")
        a(href="#" uk-slider-item="next")
          img.uk-margin-left(src="resources/assets/img/arr-right.svg" data-uk-img width="40")
      div.uk-text-center    
        button.uk-button.uk-button-primary.uk-margin-large-top.uk-text-uppercase(class="uk-hidden@m") загрузить еще    
  section#contacts.contacts.uk-padding-large.uk-padding-remove-horizontal
    .container
      h2.uk-h1.uk-text-primary.uk-margin-remove-left.uk-margin-medium-bottom(class="uk-margin-left@m") Контакты
      div(data-uk-grid)
        div(class="uk-width-2-5@s uk-width-1-1")
          div.uk-margin-large-bottom 
            a(href="tel:+375293778899") +375 (29)377 88 99 #[br]
            a.uk-margin-small-bottom(href="tel:+375293778899") +375 (29)377 88 99 #[br]    
            a(href="mailto:info@bardod21.by") info@bardod21.by   
          div
            p Минск, #[br] пр-т Победителей, 9, эт. 21
            p Минск, #[br] пр-т Победителей, 9, эт. 21
            p Минск, #[br] пр-т Победителей, 9, эт. 21
        div.contacts__map(class="uk-width-3-5@s uk-width-1-1")
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.3077799456373!2d27.54640991585977!3d53.908506480100726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf92d3b4d975%3A0xcf55965b28e46a45!2z0Y3Rgi4gMjEsINC_0YAt0YIuINCf0L7QsdC10LTQuNGC0LXQu9C10LkgOSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1596456388925!5m2!1sru!2sby" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
