.main{
    height: 100vh;
    min-height: 70rem;
    background-image: url("../assets/img/main-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $breakpoint-medium){
        min-height: 56rem;
        position: relative;
    }
    &__content{
        flex-wrap: nowrap;
        @media only screen and (max-width: $breakpoint-medium){
            flex-wrap: wrap;
        }
        > div:nth-child(1){
            margin-left: 10rem;
            img{
                width: 28.5rem;
                height: 5.7rem;
                @media only screen and (max-width: $breakpoint-medium){
                    width: 17.8rem;
                    height: 3.6rem;
                }
            }
            @media only screen and (max-width: $breakpoint-medium){
                margin-left: 0;
            }
        }
        > div:nth-child(2) {
            @media only screen and (max-width: $breakpoint-medium){
                display: flex;
                margin-top: 10rem;
                position: absolute;
                bottom: 10rem;
            }
            > div:nth-child(2){
                margin: 8rem 0;
                @media only screen and (max-width: $breakpoint-medium){
                    margin: 0 0 0 4rem;
                }
            }
        }
    }
}

body{
    background-image: url('../assets/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}