//--------------------------------
// Import Fonts
//--------------------------------
//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap&subset=cyrillic');

//--------------------------------
// Global breakpoints
//--------------------------------
$breakpoint-small:                              767px !default;  // Phone landscape
$breakpoint-medium:                             1023px !default;  // Tablet Landscape
$breakpoint-large:                              1440px !default; // Desktop
$breakpoint-xlarge:                             1920px !default; // Large Screens


//--------------------------------
// Global variables
//--------------------------------

// Main color
$mainFontColor           : #F7F7F7;
$mainFontColorExtra      : #FFFFFF;
$accentColor             : #FFBA35;
// $accentColorHover        : #BE221A;
// $accentColorActive       : #981912;
//$accentColorExtra        : #C91919;

//$default-color           : #ffffff;
$primary-color           : #FFBA35;
//$success-color           : #26de81;
//$danger-color            : #fc5c65;
//$warning-color           : #fed330;
//$light-color             : #999999;
//$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #373737;
// $neutral-regular         : #E3E3E3;
// $neutral-secondary       : #C4C4C4;
//$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #FFBA35;
$border-light            : #6D6D6D;
//$border-lighter          : #EBEEF5;
//$border-lightex          : #F2F6FC;


:root {
  // Font
  --mainFont                :'Montserrat', sans-serif;

  // Size
  --mainFontSize           : 2.0rem;
  --mainFontWeight         : 400;
  --mainLineHeight         : 1.5;

  //global anime
  --g-anime: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  //global shadow
  --g-shadow: drop-shadow(20px 15px 30px rgba(0, 0, 0, 0.25));

  @media (max-width: $breakpoint-medium) {
    --mainFontSize        : 1.6rem;
    --mainLineHeight      : 1.4;
  }
}


// todo for RTL
//$direction           :ltr;
//$opposite-direction   :rtl;

/*** LTR websites ***/
//$start-direction     :left;
//$end-direction       :right;
//$transform-direction :1;

/*** RTL websites ***/
//$start-direction     :right;
//$end-direction       :left;
//$transform-direction :-1;
